DATABASE_URL=${{ Postgres.DATABASE_URL }}
API_KEY=generate_with__python3_-c_"import secrets; print(secrets.token_hex(32))"

YT_KEY=
ADMIN_PHONE_NUM=
ADMIN_SECRET=generate_with__python3_-c_"import secrets; print(secrets.token_hex(32))"
STYTCH_PROJECT_ID=
STYTCH_SECRET=
